/* 山口が追加しました */
.title_update{
  color: #000000;
  background-color: skyblue;
  margin: 65px 0 30px;
}


/* -------  プロフィールCSS　---------- */
.profile {
  text-align: center;
  position: relative;
  width: 330px;
  margin: 0 auto;
}
.preview {
  width: 300px;
  margin: 0 auto;
}
.preview-img {
  width: 100%;
}

.button-file {
  display: none;
}

.label-size {
  padding: 15px;
}

.icon-file {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ------------ レスポンシブ（sp型:375px）-------------- */

@media screen and (min-width:375px) and (max-width:675px) {
  .title_update {
    margin: 55px 0 40px;
  }
}
