/* 山口が追加しました */
.wrap_nav_update{
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

/* 山口が追加しました */
.title_update{
color: #000000;
background-color: skyblue;
margin-bottom: 20px;
}

/* 山口が追加しました */
.link_update{
    text-decoration: none;
}

/* -------  プロフィールCSS　---------- */

.profile {
  text-align: center;
  position: relative;
}
.preview {
  width: 300px;
  margin: 0 auto;
}
.preview-img {
  width: 100%;
}

.button-file {
  display: none;
}

.label-size {
  padding: 15px;
}

.icon-file {
  position: absolute;
  bottom: 0;
  right: 160px;
}