.title_todo{
  background-color: skyblue;
  color: #000000;
  margin: 65px 0 30px;
}

.link_todo{
  text-decoration: none;
}
.list_style{
  list-style: none;
}

.purpose{
  background-color: #ffff00;
  margin-bottom: 15px;
}

/* ------------ レスポンシブ（sp型:375px）-------------- */

@media screen and (min-width:375px) and (max-width:675px) {
  .title_todo{
    margin: 57px 0 20px;
  }
}