.table-scroll{
    overflow-x : auto
  }

/* 山口が追加しました */
.title_album{
    color: #000000;
    background-color: skyblue;
    margin-bottom: 20px;
}

/* 山口が追加しました */
.wrap_nav_album{
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

/* 山口が追加しました */
.link_album{
    text-decoration: none;
}

/* 山口が追加しました */
.nav_album{
    text-decoration: underline;
}