


/* トークルーム
------------------- */
.took {
    width: 80%;
    margin: 0 auto;
}
.took-form {
    padding: 10px 20px;
    border-radius: 20px;
    width: 55%;
    margin-top: 1rem;
    background-color: rgb(43, 180, 180);
}
.took-form2 {
    display: flex;
    /* justify-content: space-around; */
}
#tuika {
    border: 0px;
    width: 90%;
    height: 20px;
    margin: auto 0;
}

.room-ul {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    display: inline-block;
}

.user-name {
    margin-left: 10px;
}

.messages-left {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.messages-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.message-left {
    padding: 5px 10px;
    font-size: 18px;
    background-color: lightgray;
    border-radius: 5px;
    margin: 0 55px 0 15px;
    position: relative;
}
.message-left::before {
    content: '';
    position: absolute;
    top: 3px;
    left: -20px;
    border: 8px solid transparent;
    border-left: 18px solid lightgray;
    -webkit-transform: rotate(-150deg);
    transform: rotate(-150deg);
}

.message-right {
    padding: 5px 25px 5px 10px;
    font-size: 18px;
    background-color: dodgerblue;
    border-radius: 5px;
    color: #fff;
    margin: 0 25px 0 55px;
    position: relative;
}
.message-right::before {
    content: '';
    position: absolute;
    top: 2px;
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid dodgerblue;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

.message-time {
    font-size: 14px;
}
.time-right {
    margin-left: 15px;
}
.time-left {
    float: right;
    margin-right: 22px;
}

.icon {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 10px;
}
.icon-img {
    width: 100%;
    height: 100%;
}
/* ----トークルーム---- */


/* 山口が追加しました */
.title_chat{
color: #000000;
background-color: rgb(135, 207, 235);
margin: 0 0 20px;
}


/* 山口が追加しました */
.goto_update{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

/* ------------ レスポンシブ（sp型:375px）-------------- */

@media screen and (min-width:375px) and (max-width:675px) {
    .title_chat {
        margin: 0 0 20px;
    }
    .took {
        width: 100%;
    }
    .took-form {
        width: 70%;
    }
    .room-ul {
        height: 530px;
    }
    .messages {
        font-size: 14px;
        margin: 10px;
    }
    #tuika {
        width: 80%;
    }
    .took-button {
        height: 8px;
        width: 8px;
    }
    .took-button::before {
        border: 8px solid transparent;
        border-bottom: 8px solid #697b91;
        top: -14px;
        left: -4px;
    }
    .message-right {
        font-size: 12px;
    }
    .message-left {
        font-size: 12px;
    }
    .message-time {
        font-size: 10px;
    }
}

/* ------------ レスポンシブ（sp型:375px）-------------- */

