


/* トークルーム
------------------- */
.took {
    width: 80%;
    margin: 0 auto;
}
.took-form {
    padding: 10px 20px;
    border-radius: 20px;
    width: 55%;
    background-color: rgb(43, 180, 180);
    margin-top: 20px;
}
.took-form2 {
    display: flex;
    justify-content: space-around;
}
#tuika {
    border: 0px;
    width: 90%;
    height: 20px;
    margin: auto 0;
}
.took-button {
    position: relative;
    height: 10px;
    width: 10px;
    margin-top: 6px;
    background-color: #697b91;   
}
.took-button::before{
    position: absolute;
    content:'';
    border: 10px solid transparent;
    border-bottom: 10px solid #697b91;
    top: -17px;
    left: -5px;
}

.messages {
    padding: 5px 10px;
    font-size: 18px;
    margin: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
}


.room-ul {
    list-style: none;
    display: inline-block;
}


/* ------------ レスポンシブ（sp型:375px）-------------- */

@media screen and (min-width:375px) and (max-width:675px) {
    .took {
        width: 90%;
    }
    .took-form {
        margin-top: 10px;
        width: 70%;
    }
    .messages {
        font-size: 14px;
        margin: 10px;
    }
    #tuika {
        width: 80%;
        height: 15px;
    }
    .took-button {
        height: 8px;
        width: 8px;
    }
    .took-button::before {
        border: 8px solid transparent;
        border-bottom: 8px solid #697b91;
        top: -14px;
        left: -4px;
    }
}

/* ------------ レスポンシブ（sp型:375px）-------------- */

